* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.head {
    width: auto;
    height: 82px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
}

.te {
    margin-left: 900px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;

}

.tex {
    width: 192px;
    height: 82px;
    left: 1191px;
    gap: 0px;
    opacity: 0px;
    background-color: #F1A900;
    color: black;

    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;


}

.head-info {
    width: 1538px;
    height: 44px;
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.t {
    margin-top: 10px;
}

main{
    background: url(image\ 5.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 797px;
    padding-top: 100px;
}

.main-info {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.pc {
    color: black;
    background-color: #F1A900;
    width: 235px;
    height: 73px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: center;




}

.con {
    color: white;
    text-align: center;
    background-color: black;
    width: 235px;
    height: 73px;
    margin-left: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: center;

}

.erangel {
    background: #F1A90054;
    width: 966px;
    height: 202px;
    top: 579px;
    left: 263px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    margin: 40px 0 0 250px;


}

.erangel p {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    text-align: center;


}
footer{
    background-color: #000000;
    width: auto;
    height: 101px;
    
}
.ph2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1400px;
}
.ph1{
    display: flex;
    
    
}